:root {
  --color-grey-900: #282f38;
  --color-grey-800: #49535f;
  --color-grey-700: #687380;
  --color-grey-600: #89929c;
  --color-grey-500: #adb5bd;
  --color-grey-400: #ced4da;
  --color-grey-300: #dee2e6;
  --color-grey-200: #e9ecef;
  --color-grey-100: #f8f9fa;

  --color-prim: #0b56ae;
  --color-prim-dark: #064084;

  --btn-hover: #e6eef6e3;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to bottom right, #66bab7, #005caf);
  min-height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hidden {
  display: none !important;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: absolute;
  left: 2.4rem;
  bottom: 2.4rem;
  width: 16rem;
  height: 4.4rem;
  background-color: #fff;
  border-radius: 0.4rem;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.6s ease-out;
}

.popup__icon {
  color: #074b1a;
  border-radius: 50%;
  font-size: 1.4rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5f7ea;
}

.popup__text {
  color: #074b1a;
  font-size: 1.4rem;
  font-weight: 400;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}
